@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'K2D', sans-serif;
}
body{
    width: 100%;
    background-color: rgba(100, 97, 97, 0.178);
    margin: auto;
    box-shadow: 10px 20px 30px black;
}
.t_h2{
    margin: 1rem 0;
}
menu{
    height: 8vh;
}
nav{
    background-color: #ED686A;
}
.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.logo{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

/*carrosel*/

.img_c{
    width: 100%;
    min-height: 60vh; 
}

/*conteudo*/

h1, h2, h3{
    text-align: center;
    margin: 10px 0;
}
.box-conteudo-left{
    width: 100%;

    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-conteudo-right{
    width: 100%;

    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
conteudo-display{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
conteudo-display2{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box-img{
    width: 90%;
    margin: auto;
}
.box-img img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    box-shadow: 5px 10px 20px;
    
}
.txt_cont{
    padding-top: 20px;
}
h3{
    padding-top: 15px;
}
.box-manual img{
    width: 100%;
    height: 50vh;
    margin-bottom: 15px;
}
.btn{
    margin: auto;
    width: 150px;
    height: 50px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn:hover{
    background-color: rgba(0, 255, 255, 0.658);
}
footer{
    width: 100%;
    height: 3rem;
    background-color: #ED686A;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
footer a{
    margin: 15px;
    text-decoration: none;
    color: black;
}
/*versão web*/

@media screen and (min-width: 520px) 
{
    h2{
        margin-bottom: 20px;
        margin-top: -10px;
        text-decoration: underline;
    }
    h3{
        text-decoration: underline;
    }
    body{
        width: 80%;
    }
    .img_c{
        width: 100%;
        height: 80vh; 
    }
    .conteudo-display{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .conteudo-display2{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
    }
    .box-img{
        width: 40%;
        height: 50%;
        box-shadow: 5px 10px 20px;
        border-radius: 25px;
    }
    
    .texto{
        width: 55%;
    }

    .box-manual img{
        width: 100%;
        height: 35rem;
    }
}


    /*Animações*/

    [data-anime]{
        opacity: 0;
        transition: 0.3s;
    }
    
    [data-anime="top"]{
        transform: translate3d(0px, -50px, 0);
    }
    
    [data-anime="left"]{
        transform: translate3d(-50px, 0, 0);
    }
    
    [data-anime="right"]{
        transform: translate3d(50px, 0, 0);
    }
    
    [data-anime].anime{
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }