@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'K2D', sans-serif;
}
body{
    width: 100%;
    background-color: rgba(100, 97, 97, 0.178);
    margin: auto;
    box-shadow: 10px 20px 30px black;
}

menu{
    height: 8vh;
}
nav{
    background-color: #ED686A;
}
.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.logo{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

/*carrosel*/

.img_c{
    width: 100%;
    min-height: 60vh; 
}

/*versão web*/

@media screen and (min-width: 520px) 
{
    

    /*Animações*/
/*
[data-anime]{
    opacity: 0;
    transition: 0.3s;
}

[data-anime="top"]{
    transform: translate3d(0px, -50px, 0);
}

[data-anime="left"]{
    transform: translate3d(-50px, 0, 0);
}

[data-anime="right"]{
    transform: translate3d(50px, 0, 0);
}

[data-anime].anime{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}*/

}


