@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'K2D', sans-serif;
}
body{
    width: 100%;
    background-color: rgba(100, 97, 97, 0.178);
    margin: auto;
    box-shadow: 10px 20px 30px black;
}
h2, h3{
    text-align: center;
    margin: 10px 0;
    font-family: 'K2D', sans-serif;
    text-decoration: underline;
}
menu{
    height: 8vh;
}
nav{
    background-color: #ED686A;
}
.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.logo{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

/*carrosel*/

.img_c{
    width: 100%;
    max-height: 70vh; 
}

/*conteudo*/

.box-conteudo-left{
    width: 100%;
    min-height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}
.box-conteudo-right{
    width: 100%;
    min-height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
}
.box-img{
    width: 90%;
    max-height: 40vh;
    border-radius: 25px;
    box-shadow: 5px 10px 15px;
}
.box-img img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}
.texto{
    width: 90%;
    height: 60vh;
    margin: 15px 0;
    padding: 15px;

}
.manual{
    width: 100%;
}
.manual div{
    width: 100%;
}
.manual div img{
    width: 100%;
}
footer{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #ED686A;
}
.link{
    text-decoration: none;
    font-size: 18px;
    margin: 0px 15px;
    color: #000;
    font-weight: 500;
}
#box_{
    margin: 0px 0px 20px 0px
}

/*versão web*/

@media screen and (min-width: 520px) 
{
    body{
        width: 80%;
        background-color: rgba(242, 239, 239, 0.178);
        margin: auto;
        box-shadow: 10px 20px 30px black;
    }
    /*carrosel*/

    .img_c{
        width: 100%;
        height: 80vh; 
    }
    .titulo-2{
        width: 100%;
    }
    
    .box-conteudo-left{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .box-conteudo-right{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
    }
    .box-img{
        width: 35%;
        height: 40vh;
    }
    .box-img img{
        width: 100%;
        height: 100%;
    }
    .texto{
        width: 50%;
        height: 40vh;
        margin: 15px 0;
    }
    .manual{
        width: 100%;
    }
    .manual div{
        width: 100%;
    }
    .manual div img{
        width: 100%;
        height: 70vh;
    }
    p{
        line-height: 1.5;
    }
    .box_{
        margin: 0px 0px 200px 0px
    }
}

/*Animações*/

[data-anime]{
    opacity: 0;
    transition: 0.3s;
}

[data-anime="top"]{
    transform: translate3d(0px, -50px, 0);
}

[data-anime="left"]{
    transform: translate3d(-50px, 0, 0);
}

[data-anime="right"]{
    transform: translate3d(50px, 0, 0);
}

[data-anime].anime{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

